.article__voting__button{
  display: inherit;
  justify-self: space-between;
  margin: 10px;
  width: 60%;
  align-content: center;
  transition: 0.1s;
}

.article__voting__button:hover {
  border: 5px solid black; /* this line made the svg hover look crazy */
}

.active-btn {
  border: 5px solid black;
}

/* xs */
@media (min-width: 475px) {}

/* sm */
@media (min-width: 640px) {
  .article__voting__button {
    width: 50%;
    justify-self: left;
  }
}

/* md */
@media (min-width: 768px) {
  .article__voting__button {
    width: 40%;
  }
}

/* lg */
@media (min-width: 1024px) {
  .article__voting__button {
    width: 30%;
  }
}

/* xl */
@media (min-width: 1280px) {
  .article__voting__button {
    width: 25%;
  }
}

/* 2xl */
@media (min-width: 1536px) {}